<html>
  <head>
    <base href="[[=URL('')]]">
  </head>
  <body>
    <h1>[[=title]]</h1>
    <div>
      [[=content.get('text','')]]
    </div>
    <div>
      [[for k, component in enumerate(components):]]
      <div style="[[= ';'.join(f'{key}:{value}' for key,value in component.get('style',{}).items()) ]]">
	<ajax-component url="[[= component['url'] ]]" id="c[[=k]]">loading...</ajax-component>
      </div>
      [[pass]]
    </div>
    <script src="static/js/utils.js"></script>
  </body>
</html>
